<div class="right-content__main">
  <%= link_to "編集", edit_hospital_path(@hospital), class: "btn btn-default" %>
  <table class="table table-striped table-bordered">
    <p class="title-bar bg-default">
      病院情報
    </p>
    <tbody>
      <tr>
        <th>名称</th>
        <td><%= @hospital.name %></td>
      </tr>
      <tr>
        <th>ログインID</th>
        <td><%= @hospital.username %></td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td><%= @hospital.tel %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @hospital.mail %></td>
      </tr>
      <tr>
        <th>所在地</th>
        <td>
          〒<%= @hospital.postcode %><br>
          <%= @hospital.address %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
