<%= form_for [@hospital, @patient] do |f| %>
  <% if @patient.errors.any? %>
    <div class="alert alert-danger text-center" role="alert">
      <h4><%= @patient.errors.count %>件の未記入のところがあります。</h4>
      <% @patient.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>
  <div class="row">
    <div class="form-horizontal">
      <div class="form-group">
        <%= f.label :名前, class: "col-md-2 control-label" %>
        <div class="col-md-10">
          <%= f.text_field :name, placeholder: "名前", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :生年月日, class: "col-md-2 control-label" %>
        <div class="col-md-10">
          <%= f.date_select :birthday, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :電話番号, class: "col-md-2 control-label" %>
        <div class="col-md-10">
          <%= f.text_field :tel, placeholder: "電話番号", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :メールアドレス, class: "col-md-2 control-label" %>
        <div class="col-md-10">
          <%= f.email_field :mail, placeholder: "メールアドレス", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :郵便番号, class: "col-md-2 control-label" %>
        <div class="col-md-10">
          <%= f.text_field :postcode, placeholder: "郵便番号", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :住所, class: "col-md-2 control-label" %>
        <div class="col-md-10">
          <%= f.text_field :address, placeholder: "住所", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :病気名, class: "col-md-2 control-label" %>
        <div class="col-md-10">
          <%= f.text_field :disease, placeholder: "病気名", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :ダッシュID, class: "col-md-2 control-label" %>
        <div class="col-md-10">
          <%= f.text_field :dash_id, placeholder: "ダッシュID", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <%= f.submit "登録する", class: "btn btn-danger" %>
          </div>
        </div>
    </div>
  </div>
<% end %>
